@use '../../style' as s;

.a-list {
    font-size: 24px;
    color: darkblue;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    align-items: center;
    width: 100%;

}